{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel='stylesheet' type="text/css" href="{% static 'css/funcionario.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo da DeLeite">
            <h1>DeLeite</h1>
        </div>
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="{% url 'menu' %}" class="dropbtn"><i class="fas fa-home"></i> Início</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn"><i class="fas fa-clipboard-list"></i> Cadastros</a>
                    <div class="dropdown-content">
                        <a href="Gado.html"><i class="fas fa-cow"></i> Animais</a>
                        <a href="funcionario.html"><i class="fas fa-users"></i> Funcionários</a>
                        <a href="propriedade.html"><i class="fas fa-home"></i> Propriedades</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn"><i class="fas fa-exchange-alt"></i> Movimentação</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn"><i class="fas fa-calendar-alt"></i> Calendário</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn"><i class="fas fa-chart-bar"></i> Relatórios</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <h2 class="project-title">DeLeite</h2>
        <div class="form-container">
            <div class="welcome-message">
                Cadastro de Funcionário
            </div>
           {% if propriedade_selecionada %}
                <h3>Propriedade Selecionada: {{ propriedade_selecionada.nomePropriedade }}</h3>
                
                <a href="{% url 'selecionar_propriedade' %}">Mudar Propriedade</a>
            {% else %}
                <p>Nenhuma propriedade selecionada. Por favor, escolha uma propriedade.</p>
                <a href="{% url 'selecionar_propriedade' %}">Selecionar Propriedade</a>
            {% endif %}
           <form action="{% url 'cadFuncionario' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <label for="nome">Nome:</label>
                <input type="text" id="nomefuncionario" name="nomefuncionario" required="">
        
                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefonefuncionario" name="telefonefuncionario" required="">

                
        
                <button type="submit">Cadastrar</button>
            </form>
            <a href="#">Vsisualizar cadastro de Funcionario</a>
        </div>        
    </main>    
</body>
</html>
