{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios - DeLeite</title>
    <link rel="icon" href="/TCC/img/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/selecionar_propriedade.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.jpg'%} " alt="Logo da DeLeite">
            <h1>DeLeite</h1>
        </div>
        <nav>
            <ul>
                
            <li class="dropdown">
                <a href="#" class="dropbtn"><i class="fas fa-user"></i> Perfil</a>
                <div class="dropdown-content">
                    <a href="perfil1.html"><i class="fas fa-user-circle"></i> Perfil</a>
                    <a href="#"><i class="fas fa-cog"></i> Conta</a>
                    <a href="#"><i class="fas fa-sliders-h"></i> Configurações</a>
                    <a href="index.html"><i class="fas fa-sign-out-alt"></i> Sair</a>
                </div>
                <li class="dropdown">
                    <a href="#" class="dropbtn"><i class="fas fa-clipboard-list"></i> Cadastros</a>
                    <div class="dropdown-content">
                        
                        <a href="propriedade.html"><i class="fa-solid fa-house"></i> Propriedades</a>
                        
                    </div>
                </li>
               
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="welcome-message">
                <h2>Bem-vindo ao DeLeite</h2>
                <p>Selecione a Propriedade para continuar</p>
            </div>
<form method="post" class="property-form">
    
    {% csrf_token %}
    
    <div class="select-wrapper">
    <select name="propriedade" id="propriedade">
        {% for propriedade in propriedades %}
            <option value="{{ propriedade.idpropriedade }}">{{ propriedade.nomePropriedade }}</option>
        {% endfor %}
    </select>
    </div>
    <button type="submit">Selecionar</button>
</form>
</div>
</main>
</body>
</html>