{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios - DeLeite</title>
    <link rel="icon" href="/TCC/img/logo.png" type="image/png">
    
    <link rel="stylesheet"  href="{% static 'css/tabela.css' %}?v=1">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo da DeLeite">
            <h1>DeLeite</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> Início</a></li>
                <li><a href="perfil1.html"><i class="fas fa-user"></i> Perfil</a></li>
                <li><a href="index.html"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
            </ul>
        </nav>
    </header>
<h1>Eventos Sanitários</h1>
<div class="container">
        <h2 class="table-title">Produções Cadastradas</h2>
        <table class="styled-table">

    <thead>
        <tr>
            <th>Evento</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td>{{ evento.tipoEvento }}</td>
            <td>{{ evento.dataEvento }}</td>
            <td>
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="evento_id" value="{{ evento.idcaledarioSanitario }}">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum evento encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'calendario_sanitario' %}">Cadastrar novo evento</a>